/* Font colors */
$base-font-size: 15px;
$base-font-family: "segoe UI","Segoe WP","Segoe Regular", sans-serif;
$base-font-color: darkgrey;

/*Backgrounds Colors */
$primary-color: #00aff0; 
$secondary-color: #7fba00;
$light-color: #add8e6;
$dark-color: #333333 ;

/*showcase Area */

$showcase-height: 400px;
$showcase-image: "../img/showcase.jpg";
